@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GENERAL */
.fas.fa-search{
  height:21px;
  width:100%;
}
.link-jumbotron{
  color: #fff;
}
.link-jumbotron:hover{
  color: #c2c2c2;
}
.title-topbar:hover {
  vertical-align: sub;
  color: #fff;
  text-decoration: revert;
}
.black-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgb(0 0 0 / 34%);
}
.bg-success{
  background-color: #1dc02e!important;
}
.btn-success{
  background-color: #1dc02e;
  border-color: #1dc02e;
}
*{
  font-family: "Raleway";
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none;
}

a {
  color: #1dc02e;
}
/*a:hover{
  color: #fff;
}*/
.box-button{
  align-items: center;
  line-height: 200px;
}
.feature-orientacion{
  text-align: center;
  display: table-cell;
  height: 200px;
  align-items: center;
  vertical-align: middle;
}
.bg-dark{
  background-color:#1dc02e!important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0);
}
.navbar-brand {
  padding: 0;
  height: 90px;
}
.experiencias{
  color: #fff!important;
}
.carousel {
  position: relative;
  height: 40vh;
  object-fit: cover;
}
.btn-outline-success {
  color: #1dc02e;
  background-color: #ffffff;
  background-image: none;
  border-color: #1dc02e;
}
.pagination {
  justify-content: center;
}
.pagination.cluster{
  justify-content: space-between;
}
.arrow-cluster{
  background-color: #3ac848;
  color: #fff!important;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}
.arrow-cluster:hover{
  background-color: #218838;
  border-color: #1e7e34;
}
.page-link {
  color: #1dc02e;
}
.title-accordion:hover{
  color: #1dc02e;
}

/* FORMULARIO */
.modal-dialog {
  max-width: 800px!important;
}

.d-flex-modal{
  display: flex;
  justify-content: space-between;
}
.radio-label{
  font-size: 15px;
  text-align: center;
}
.group-inputs{
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin-top: 15px;
  background-color: #fff;
}
.button-next{
  margin-top: 15px;
}
.group-foto{
  padding: 2rem;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin: 15px 0px 15px 0px;
  background-color: #fff;
}
.group-inputs-dropdown{
  padding: 2rem;
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin: 15px 0px 15px 0px;
  background-color: #fff;
}

#regForm {
  margin: 0px auto;
  width: unset;
  border: none;
  min-width: 300px;
  background-color: transparent;
}
.checkbox-info{
  width: 10%;
}
.form-check-inline {
  margin-right: 0;
}
.estrella{ 
  color:grey;
  padding-right: 5px;
}
.estrella:hover,
.estrella:hover ~ .estrella {
  color: orange;
}

.input-estrella[type="radio"]:checked ~ .estrella {
  color: orange;
}
.input-estrella[type = "radio"]{ display:none;}
.form-estrellas{
  direction: rtl;/* right to left */
  unicode-bidi: bidi-override;/* bidi de bidireccional */
}
#info-check{
  margin-right: 10px;
}


/* Mark input boxes that gets an error on validation: */
.invalid{
  border: 1px solid red;
}
.invalid input {
  border-bottom: 1px solid red;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.invalid textarea {
  border-bottom: 1px solid red;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
textarea{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 40px;
}
.invalid input:focus {
  border-bottom: 1px solid red;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-shadow:none;
}
.form-check-inline.invalid{
  border: none;
}
.form-check-inline.tiempo {
  padding: 10px 6px 10px 20px!important;
  position: relative;
  display: contents!important;
}
.m-tiempo-input{
  margin-right: 20px;
  margin-left: 0;
}
.m-tiempo-label{
  margin-right: 20px;
}
.si{
  margin-right: 10px;
}
.form-google:focus{
  border-bottom: 1px solid #1dc02e;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-shadow:none;
}
.form-control:focus {
  color: unset;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  box-shadow: unset;
}
.form-google{
  border-bottom: 1px solid #1dc02e;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.invalid span {
  color:red;
  font-weight:600;
}
/* Hide all steps by default: */
.tab {
  display: none;
}
.form-check{
  padding: 5px;
}
.check-modal{
  padding: 5px;
}

.radio-modal{
  width: 10px;
}


/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.btn-star{
  padding: 5px!important;
}

.stepper-vertical li .step-content {
  width: 94%;
}
/* TOP BAR */
#topbar{
  position: fixed;
  z-index: 999;
  height: 30px;
  width: 100%;
  text-align: center;
}
.topbarScrollUp{
  top: 0;
}

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

.list-topbar{
  list-style: none;
}
.topbar-link{
  height: 30px;
  padding-right: 15px;
}
.title-topbar{
  vertical-align: sub;
  color: #fff;
}
.buttons-topbar {
  display: inline-flex;
  text-align: center;
  margin:0;
  padding-left: 0px;
}
.paises-link{
  display:flex;
}
.paises-topbar {
  display:flex;
  width: 10%;
  margin:0;
  padding:0;
}
/* NAVBAR */
.dropdown-btn-home{
  width: 25%;
}
.dropdown-btn-pais{
  width: 100%;
}
.dropdown{
  list-style: none;
}
.search-btn-home{
  width: 23%;
  padding: .375rem .75rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color:  #1dc02e;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #1dc02e;
  text-decoration: none;
}
nav{
  transition: all ease 0.5s;
}
body{
  color: #404040;
}
.logo-svg{
  background-image: url(../svg/avocado.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: contain;
  height: 90px;
}
.argentina{
  background-image: url(../svg/argentina.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: contain;
  height: 30px;
  width: 50%;
}
.uruguay{
  background-image: url(../svg/uruguay.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: contain;
  height: 30px;
  width: 50%;
}
.peru{
  background-image: url(../svg/peru.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: contain;
  height: 30px;
  width: 50%;
}
.navbar{
  position: fixed;
  z-index: 999;
  box-shadow: 0 5px 11px 0 rgba(50, 50, 50, 0.08);
  top: 0;
  height: 90px;
  width: 100%;
}
.scrollDown{
  top: 0px;
}
.scrollUp{
  top: 30px;
}
#nav-searchbar{
  transition: all ease 0.5s;
}
.jumbotron {
  background-color: unset;
}
.margin-top{
  margin-top: 120px;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 30%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
/* HOME */
.vermas-button-carrousel{
  display: flex;
  justify-content:center;
  padding: 0px 10px 0px 10px;
}
  @-webkit-keyframes swing{
      15%
      {
          -webkit-transform: translateX(5px);
          transform: translateX(5px);
      }
      30%
      {
          -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
      } 
      50%
      {
          -webkit-transform: translateX(3px);
          transform: translateX(3px);
      }
      65%
      {
          -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
      }
      80%
      {
          -webkit-transform: translateX(2px);
          transform: translateX(2px);
      }
      100%
      {
          -webkit-transform: translateX(0);
          transform: translateX(0);
      }
  }
  @keyframes swing{
      15%
      {
          -webkit-transform: translateX(5px);
          transform: translateX(5px);
      }
      30%
      {
          -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
      }
      50%
      {
          -webkit-transform: translateX(3px);
          transform: translateX(3px);
      }
      65%
      {
          -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
      }
      80%
      {
          -webkit-transform: translateX(2px);
          transform: translateX(2px);
      }
      100%
      {
          -webkit-transform: translateX(0);
          transform: translateX(0);
      }
  }
  .numbers-svg:hover{
          -webkit-animation: swing 1s ease;
          animation: swing 1s ease;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  }
  .svg-mision:hover{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  .svg-valores:hover{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  .svg-vision:hover{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

.font-oswald{
  font-family: 'Oswald', sans-serif;
}
.link-card{
  color: #444;
}
.link-card:hover{
  color: #1dc02e!important;
  text-decoration: underline;
  font-weight: bold;
}
.card-text{
  color: #444;
}
.card-text:hover{
  color:  #1dc02e!important;
}
.container-full{
    max-width: 100%;
}
.full-screen{
  padding: 0;
}
.avocado-jumbo {
    background-image: url('../svg/waves.svg');
    background-size: cover;
    display: -ms-flexbox;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
}
.numbers-svg{
  max-width: 120px;
  margin-bottom: 2em;
}
.jumbotron {
    padding: 10em;
}
.jumbotron-padding{
  padding: 25vh 0 25vh 0;
}
.mt-vh{
  margin-top: 16vh;
}

.logo-uba{
  background-image: url(../svg/UBA.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 35%;
}
.logo-uca{
  background-image: url(../svg/UCA.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 85%;
}
.logo-uade{
  background-image: url(../svg/uade.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 85%;
}
.logo-unlp{
  background-image: url(../svg/UNLP.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 35%;
}
.logo-unlam{
  background-image: url(../svg/unlam.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width:35%;
}
.logo-una{
  background-image: url(../svg/UNA.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 85%;
}
/*FEATURES*/
.one-feature{
  display: flex;
  justify-content: center;
  line-height: 1;
  align-items: center;
}
.text-feature h3{
  font-size: 1rem;
}
.feature-box{
  display: flex;
  text-align: center;
}
.text-feature{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}
.grey{
  background-color: #cccccc1a;
}
.calendar-icon{
  background-image: url(../svg/calendar.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
}
.arancel-icon{
  background-image: url(../svg/arancel.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
}
.titulo-icon{
  background-image: url(../svg/titulo.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
}
.enlace-icon{
  background-image: url(../svg/enlace.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
}
/* CAROUSEL */

.news-carousel .slick-slide {
  padding: 5px;
  margin-bottom: 15px;
}
/*SHARE BUTTONS*/
.btn-fb {
  color: #fff;
  background-color: #3b5998 !important;
}
.btn-tw {
  color: #fff;
  background-color: #55acee !important;
}
.btn-ins {
  color: #fff;
  background-color: #ec4a89 !important;
}
.btn-whatsapp {
  color: #fff;
  background-color: #25d366 !important;
}

/*FOOTER */
.redes{
  text-align:center;
  display: flex;
  justify-content: center;
}
.link-footer{
  color: #fff;
  font-size: 1em;
  font-family: "Raleway";
  transition: 0.5s;
}
.icon{
  display: block;
  font-size: 1.8em;
  margin-bottom: 10px;
}
.link-footer:hover{
  text-decoration: none;
  color: #cacaca;
}
.title-footer{
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.8em;
}
.footer{
  display: flex;
  justify-content: center;
}
.footer-copyright{
  color: #fff;
  background-color: #00000014;
}
.text-copyright{
  margin: 0;
}
.pd-footer{
  padding: 3rem 0 3rem 0;
}

/* AUTOCOMPLETE */

.autocomplete-suggestions {
    background: #fff;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-shadow: 0 0 10px -5px #fff;
    padding: 5px;
}
.autocomplete-suggestion {
    border-radius: 5px;
    padding-left: 5px;
}
.autocomplete-suggestion:hover, .autocomplete-selected {
    background: #eee;
}


/* CAREER TILES */
.calificación{
  display: flex;
}
.pill-uni-cluster {
  background-color: #1dc02dde;
  padding: 5px 10px!important;
  border-radius: 4px;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: bold;
  margin-right: 5px;
}
.carousel-cluster {
  position: relative;
  height: auto;
  object-fit: cover;
}
.career-tile-cluster{
  width: 250px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 10px -5px #000;
  text-align: center;
  display: flex;
  color: #fff;
} 
.uba-tile-cluster{
  background: #e40202;
  width: 100%;
}

.career-tile {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px #000;
    text-align: center;
    display: flex;
    color: #fff;
}

.career-tile h1 {
    font-weight: 900;
}
.career-tile h2 {
    font-weight: 100;
}


.uba-tile{
  background: #e40202;
  width: 100%;
}
.utdt-tile{
  background: #f0f000;
  width: 100%;
}
.rating-uni{
  list-style: none;
  color: #1dc02e;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.rating-num{
  margin: 10px 0px -10px 0px;
}
.btn-menu:focus, .btn:hover {
  color: #ffffff;
}
.rating-link{
  color: #404040;
}
.rating-link:hover{
  color: #1dc02e;
  text-decoration: none;
}
.star-ratings {
  float: left;
  unicode-bidi: bidi-override;
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 2.4rem;
  height: 40px;
  position: relative;
}

.star-ratings-reviews {
  float: left;
  unicode-bidi: bidi-override;
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 1.3rem;
  height: 40px;
  position: relative;
}
.star-ratings-uni {
  float: left;
  unicode-bidi: bidi-override;
  color: rgb(255 255 255);
  display: flex;
  font-size: 2rem;
  height: 35px;
  position: relative;
}

.hidden {
  display: none;
}

.star-ratings-top {
  color: gold;
  padding: 0;
  position: absolute;
  display: flex;
  z-index: 1;
  left: 0px;
  overflow: hidden;
}

.star-ratings-reviews .star-ratings-bottom{
  color: grey;
}

.star-ratings-bottom {
  z-index: 0;
  display: flex;
}

/* QUIENES SOMOS */
.text-quienessomos{
  font-size: 1.3rem;
}

.img-container{
  text-align: center;
}
.vertical-align{
  align-items: center;
}
.background-color{
  background-color: #fafafa;

}
.svg-container{
  text-align: center;
}
.svg-mision{
  background-image: url(../svg/bandera.svg);
  height: 30vh;
  background-position-x: center;
  background-repeat: no-repeat;
}
.svg-vision{
  background-image: url(../svg/vision.svg);
  height: 30vh;
  background-position-x: center;
  background-repeat: no-repeat;
}
.svg-valores{
  background-image: url(../svg/valor.svg);
  height: 30vh;
  background-position-x: center;
  background-repeat: no-repeat;
}
.compartir-proyecto{
  text-align: center;
}

/* Mural Novedades*/
.titles-mural{
  color: #404040;
}
.titles-mural:hover{
  color: #1dc02e;
}

/*Blog*/
.cat-links-fecha{
  margin-left: 15px;
}
/* COUNTER */

.counter-box {
  display: block;
  text-align: center
}

.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #909090;
  font-size: 18px;
  font-weight: 500
}

.counter-box i {
  font-size: 60px;
  margin: 0 0 15px;
}

.counter {
  display: block;
  font-size: 4em;
  font-weight: 600;
  color: #666;
  line-height: 60px;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
  color:#075352;
}
/* CONTACTO */
.texto-contacto{
  text-align: justify;
}

/*SEARCH RESULTS*/
.pill{
  background-color: #27c33736;
  padding: 2px 10px;
  border-radius: 4px;
  color: #1dc02e;
  font-size: 0.8em;
  font-weight: bold;
}
.d-block-pills{
  display: block;
}
.pill:hover{
  color: #1dc02e;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.pd{
  padding: 10px 0 0 0;
}
.article{
  float: left;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.search-key{
  border-bottom: 2px solid #e9e9e9;
  padding-bottom: 5px;
}
.sub-title{
  margin-bottom: 50px;
  font-weight: bold;
  margin-top: 50px;
}
.result-key{
  border-bottom: 2px solid #1dc02e;
}
.mb{
  margin-bottom: 30px;
  font-weight: bold;
}
.separator{
  border-bottom: 2px solid #000;
  display: flex;
  width: 100%;
}
.tags-links a{
  color: #888;
  font-style: italic;
}
.cat-links a{
  color: #888;
  font-style: italic;
}
.entry-title{
  color: #404040;
  transition: 0.2s;
}
.entry-title:hover {
  color: #1dc02e;
  text-decoration: none;
}
.clearboth{
  clear: both;;
}
/*CARRERA*/
.box-rating-cluster {
  color: #757575;
  text-align: center;
}
.star-ratings-cluster {
  float: left;
  unicode-bidi: bidi-override;
  color: rgb(171 171 171);
  display: flex;
  font-size: 1.4rem;
  height: 35px;
  position: relative;
}

/*CARRERA EN UNIVERSIDAD*/

.container-stars-mobile {
  display: flex;
  justify-content: center;
}
.container-stars{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: end;
  position: relative;
}
.ver-mas{
  color: #1dc02e!important;
}
.btn-report:hover {
  color: #fff;
  background-color: #bd2130;
}
.btn-report {
  color: #ce0014;
  background-color: #dc35458c;
  font-weight: bold;
  font-size: 0.9em;
}
.box-rating-uni {
  color: #fff;
  text-align: center;
}
.pill-vermas{
  border: 1px solid white;
  background-color: #1dc02dde;
  padding: 5px 10px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: bold;
}
.pill-uni {
  background-color: #1dc02dde;
  padding: 5px 10px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: bold;
  margin-right: 10px;
}
.opinion{
  display: table-cell;
}
.left .btn{
  margin-bottom: 5px;
}
.bottom{
  position: absolute;
  bottom: 0;
}
.jumbotron-cursada{
  padding: 2em 0 2em 0;
}
.flex{
  display: flex;
}
.carrera{
  font-size: 1.5em;
}
.universidad{
  font-size: 1em;
}
.progress-pd{
  align-items: center;
  padding: 5px 0 5px 0px;
}
.middle{
  align-items:center;
}
.progress-bar{
  width: 100%;
}
.left{
  text-align: end;
}
.only-mobile{
  display: none;
}
.only-desktop{
  display: block;
}
.border-separator{
  border-bottom: 1px solid #ced4da;
  border-top: 1px solid #ced4da;
}
.btn-filled{
  color: #f0f000!important;
}
.btn-star:hover{
  color: #f0f000!important;
}
.btn-star{
  padding: 10px;
}
.title-accordion{
  color: #006633;
  font-weight: bold;
  padding: 10px 15px;
  border-bottom: none;
  border-left: 1px solid #1dc02e!important;
  border-right: 1px solid #1dc02e!important;
  border-top: 1px solid #1dc02e!important;
  border-radius: 0;
  margin-right: 3px;
  height: 100%;
}
.title-accordion-last{
  color: #006633;
  font-weight: bold;
  padding: 10px 15px;
  border-bottom: none;
  border-left: 1px solid #1dc02e!important;
  border-right: 1px solid #1dc02e!important;
  border-top: 1px solid #1dc02e!important;
  border-radius: 0;
  margin:0;
  height: 100%;
}
.title-accordion:hover{
  text-decoration: none;

}
.promedios{
  margin: 0;
  display: flex;
}
.tab-content{
  border-bottom: 1px solid #1dc02e;
  border-left: 1px solid #1dc02e;
  border-right: 1px solid #1dc02e;
  border-top: none;
  border-radius: 0;
}
.tabs-promedios{
  padding: 0;
  flex-wrap: nowrap;
}
.grafico{
  margin: auto;
  display: block;
}
.avocados-background{
  background-image: url(../svg/avocados-logo.svg);
  background-size: cover;
}
.video{
  height: 65vh; 
  width: 75%;
}

.enlace-icon-uni{
  background-image: url(../svg/enlace.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
  width: 3%;
}
.feature-box-uni{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.placeholder-features{
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
  margin: 0;
}
.link-feature-uni{
  text-align: center;
  margin: 0;
}
.text-feature{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
}
.icon-feature {
  width: 50%;
}
.text-feature-uni {
  display: flex;
  justify-content: center;
  height: 100px;
}


/*MEDIA QUERY MOBILE*/

@media only screen and (max-width: 600px) {
  .opinion{
    text-align: center;
  }
  .mb-15px{
    margin-bottom: 15px;
  }
  .calificación{
    justify-content: center;
  }
  .left{
    margin-bottom: 15px;
  }
  .container-stars-mobile{
    display: block;
  }
  .container-stars {
    justify-content: center;
  }
  .icon-feature {
    width: 100%;
  }

  .text-feature {
    width: 100%;
  }

.text-feature-uni {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.enlace-icon-uni{
  background-image: url(../svg/enlace.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 65%;
}
.feature-box-uni{
  display: flex;
  justify-content: center;
  text-align: center;
}
.placeholder-features{
  font-size: 1rem;
  font-weight: 500;
}

  .universidad{
    margin-top: 1rem;;
  }
  .utdt-tile{
    height: 25vh;
  }
  .star-ratings-uni {
    left: 24vw;
  }
  .avocados-background {
    background-image: url();
    background-size: cover;
}
  .box-rating-cluster .rating-num{
    font-size: 1.5rem;
  }
  .star-ratings-cluster{
    font-size: 1.2rem;
  }
  .jumbotron {
      padding: 0em !important;
      margin-top: 15vh;
  }
  .display-4 {
      font-size: 2.8rem;
  }
  .w-50 {
      width: 100%!important;
  }
  .navbar {
    height: auto;
  }
  .nav-searchbar-hidden {
      opacity: 1!important;
      pointer-events: visible!important;
  }
  /*SEARCH RESULTS */
  .d-block-pills{
    display: inline-block;
  }
  .result-key {
    line-height: 2;
  }
  .mb {
    margin-bottom: 5px;
  }
  .entry-footer{
    margin-top: 20px;
  }
  .margin-top {
    margin-top: 15vh;
  }
  .sub-title {
    margin-bottom: 30px;
    margin-top: 30px;
}
  /*FOOTER*/
  .icon{
      display: block;
    }
  .redes{
    display: block;
  }
  .links{
    display: none;
  }
  .link-footer{
    padding:0;
  }  
  .title-footer {
    font-size: 1.4em;
  }
  .footer {
    margin-bottom: 20px;
  }
  .links2{
    margin: 0;
  }

  .text-copyright {
    font-size: 0.8em;
  }
  .only-mobile{
    display: block;
  }
  .only-desktop{
    display: none;
  }
  .tabs-promedios {
    padding: 0;
    flex-wrap: nowrap;
    display: block;
    width: 100%;
  }
  .jumbotron-cursada{
    padding: 0;
  }
  .title-mobile{
    font-size: 1.5em!important;
  }
  .video {
    height: unset;
    width: unset;
  }
  .career-tile {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px #000;
    text-align: center;
    display: flex;
    color: #fff;
  }
  .uba-tile {
    background: #ff0000;
    height:25vh;
  }
  .cluster-uni{
    font-weight: 900;
    font-size: 1.5em!important;
  }
  .cluster-carrera{
    font-weight: 900;
    font-size: 1em!important;
  }
  .career-tile h1 {
    font-weight: 900;
    font-size: 2em;
  }
  .career-tile h2 {
    font-weight: 100;
    font-size: 2em;
  }
  .mb-mobile{
    margin-bottom: 25px;
  }
  .reverse-mobile{
    flex-direction: column-reverse;
  }
  .share-buttons{
    display: contents;
    width: 50%;
  }
  .btn-fb {
    margin-bottom: 10px;
  }
  .btn-tw {
    margin-bottom: 10px;
  }
  .btn-ins {
    margin-bottom: 10px;
  }
  .btn-whatsapp {
    margin-bottom: 10px;
  }
  .share {
    padding: 1rem 0 3rem 0;
    text-align: center;
}
.logo-svg {
  background-image: url(../svg/avocado.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: contain;
  width: 100%;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.navbar-light .navbar-brand {
  width: 80%;
  height: 50px;
}
#regForm {
  padding: 0px;
}
.form-check-inline {
  display: block;
}
.group-inputs-dropdown {
  padding: 1rem;
}
.title-accordion {
  margin-right: 0px;
}
.rating-uni{
  display: table-cell;
}
.box-rating{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.universidad {
  font-size: 1.2em;
}

.container-full{
  max-width: 100%;
}
.check-modal {
  font-size: 12px;
}
.radio-label {
  font-size: 12px;
}
.topbar-link {
  height: 30px;
  padding-right: 15px;
  font-size: 12px;
}
.feature-box {
  display: block;
  text-align: center;
  margin: 20px 0 20px 0px;
}
.calendar-icon {
  width: 20%;
  height: 15vh;
}
.enlace-icon{
  width: 20%;
  height: 15vh;
}
.arancel-icon {
  width: 20%;
  height: 15vh;
}
.titulo-icon {
  width: 20%;
  height: 15vh;
}

.text-feature {
  display: block;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}
.dropdown-toggle{
  width: 100%;
  margin-top: 5px;
}
.m-right{
  margin-right: 6px;
}
.search-btn-home{
  width: 100%;
  margin-top: 5px;
}
.ancho-completo-mobile{
  width: 49%;
}
.logo-uba{
  width: 25%;
  margin-right: 15px;
}
.logo-uca{
  width: 60%;
}
.logo-unlam{
  width: 25%;
  margin-right: 15px;
}
.logo-uade{
  width: 60%;
}
.logo-unlp{
  width: 25%;
  margin-right: 15px;
}
.logo-una{
  width: 60%;
}
.nav-link{
  margin: 10px 0 10px 0px;
}
.paises-topbar {
  width: 100%;
}
.argentina {
  height: 25px;
  width: 30%;
}
.uruguay {
  height: 25px;
  width: 30%;
}
.peru{
  height: 25px;
  width: 30%;
}
.btn-like{
  width: 100%;
}
.btn-report{
  width: 100%;
}
.star-ratings {
  left: 25%;
  margin: 0px 0 20px 0;
}
.star-ratings-reviews {
  font-size: 2rem;
  margin-bottom: 20px;
}
.box-button {
  line-height: 0px;
  margin-top: -30px;
}
.title-jumbotron-mobile{
  margin-top: 2em;
  margin-bottom: 2em;
}
.pill-uni-cluster {
  margin-bottom: 5px;
}
.carousel {
  height: 55vh;
}
.text-center-mobile{
  text-align: center;
}
.img-review{
  width: 80%;
}
.profile-pic{
  display: flex;
  justify-content: center;
}
}


